
  <!-- Header -->
  <header id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="img/team.jpg" alt="">
          <div class="intro-text">
            <span class="name">{{equipo.nombre}}</span>
            <hr class="star-primary">
            <span class="skills">
                {{equipo.nombre}} es el logro de un grupo de profesionales informáticos que luego de mas de diez años de trayectoria
                en el area del desarrollo de sistemas y alentados por un sueño deciden formar su propio espacio de trabajo basado en los principios
                del cooperativismo.
              </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Fin Header -->

  <!-- Equipo -->
  <section class="success" id="equipo">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Equipo {{equipo.nombre}}</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div ng-repeat="frase in frases | limitTo: 6" class="flip-container " 
          ontouchstart="this.classList.toggle( 'hover'); ">
            <div class="flipper">
              <div class="front text-frase">
                <h4>{{frase.frase}}</h4>
              </div>
              <div class="back text-frase">
                <h4>{{frase.autor}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin Equipo -->

  <!-- Jugadores -->
  <section id="jugadores">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center ">
          <h2>Jugadores</h2>
          <hr class="star-primary ">
        </div>
        <div class="row ">
          <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 ">
            <div ng-repeat="jugador in personas " class="col-lg-4 col-md-4 col-sm-4 ">
              <div class="card card-block card-text "">
            <img class="card-img-top img-thumbnail" src="http://api.adorable.io/avatars/230/{{jugador.nombre}}{{jugador.apellido}}@{{jugador.id}}">
            <div class="card-block">
              <h4 class="text-center">{{jugador.nombre}} {{jugador.apellido}} @ {{jugador.edad}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!-- Fin Jugadores -->